# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://nqjeftnnksgsznhbzcey.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5xamVmdG5ua3Nnc3puaGJ6Y2V5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTQ2NDgwMTYsImV4cCI6MTk3MDIyNDAxNn0.aQQ51rXB4yMcnCRa66qxyLtkpVWPBKW2etzPbTf_YJE
